apache-airflow-providers-slack==6.0.0
apache-airflow-providers-tableau==3.0.1
atlassian-python-api== 3.13.2
bs4
dnspython==2.2.1
JayDeBeApi==1.2.3
Jinja2==3.1.2
jira
lxml
mysql-connector-python==8.0.23
numpy==1.22.4
pandas==1.5.1
psycopg2-binary==2.9.5
requests==2.28.1
scikit-learn
tableauserverclient==0.23.0
trino==0.323.0
yfinance==0.1.96