apache-airflow-providers-amazon==8.7.1
apache-airflow-providers-common-sql>=1.3.1
apache-airflow-providers-http
apache-airflow-providers-jdbc==3.3.0
apache-airflow-providers-slack==6.0.0
apache-airflow-providers-tableau==3.0.1
apache-airflow-providers-google
airflow-clickhouse-plugin==1.1.0
asgiref
boto3>=1.28.0
botocore>=1.31.0
clickhouse-driver==0.2.6
jsonpath_ng>=1.5.3
mysql-connector-python==8.0.23
numpy==1.22.4
openpyxl==3.1.2
pandas==1.5.1
redshift_connector>=2.0.888
requests==2.28.1
scikit-learn
sqlalchemy_redshift>=0.8.6
tableauserverclient==0.23.0
utils==1.0.1
watchtower~=2.0.1
# temporarly use external code before it will be merge to main
# https://github.com/ClickHouse/dbt-clickhouse/pull/201
git+https://github.com/inDels/dbt-clickhouse.git@insert_overwrite_strategy
prophet==1.1.5
pydantic==2.9.2